dialog {
  width: 100%;
  border: none;
  border-radius: 1em;
}

dialog > form > h2 {
  display: inline;
}

.dialog-delete-member {
  text-align: center;
}

.close-btn {
  border: none;
  padding: 1em;
  margin: 0.2em 1em 1em 0.2em;
  width: 0;
  display: inline;
}

.dialog-btn-container {
  display: grid;
  grid-template-columns: auto auto;
}

.dialog-btn {
  width: 8em;
  display: inline-block;
  padding: 0.5em;
  color: white;
  background-color: #193044;
  font-weight: bold;
  font-size: 16px;
  border-radius: 1em;
  transition: background 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.dialog-btn.cancel {
  background-color: grey;
}

.dialog-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .dialog-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  dialog {
    width: 80%;
  }
  .dialog-delete-member {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  dialog {
    width: 800px;
  }
  .dialog-delete-member {
    width: 600px;
  }
}
