dialog {
  width: 800px;
  border: none;
  border-radius: 1em;
}

dialog > form > h2 {
  display: inline;
}

.close-btn {
  border: none;
  padding: 1em;
  margin: 0.2em 1em 1em 0.2em;
  width: 0;
  display: inline;
}

.dialog-btn-container {
  display: grid;
  grid-template-columns: auto auto;
}

.dialog-btn {
  width: 8em;
  display: inline-block;
  padding: 0.5em;
  color: white;
  background-color: blue;
  font-weight: bold;
  font-size: 16px;
  border-radius: 1em;
  transition: background 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.dialog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
