/* -------- Root variables -------- */
:root {
  --black-shadow: rgba(0, 0, 0, 0.25);
}

/* -------- General styling -------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background: linear-gradient(
    to right,
    #0066ff,
    #33ccff
  ); /* Gradient background */
}

footer,
header {
  background-color: black;
  position: sticky;
  top: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5em;
}

footer > h4 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1em;
}

.hidden {
  display: none;
}

button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  background: white;
  transition: background 0.5s ease, transform 0.5s ease;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

#profileImg {
  width: 3em;
  height: 3em;
  border-radius: 100%;
}
