/* -------- Root variables -------- */
:root {
  --black-shadow: rgba(0, 0, 0, 0.25);
}

/* -------- General styling -------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background-color: #d0d4d8;
  font-size: 15px;
}

main {
  background-color: #d0d4d8;
}

footer,
header {
  background-color: black;
  position: sticky;
  top: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5em;
}

footer > h4 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1em;
}

.hidden {
  display: none;
}

button {
  display: inline-block;
  padding: 1em;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 1em;
  background: white;
  transition: background 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.view-content {
  display: none;
  /* padding: 248px 2em; */
}

.view-content.active {
  display: block;
}

nav a.active {
  background-color: #193044;
  border-radius: 1em;
}
