/* -------- Root variables -------- */
:root {
  --black-shadow: rgba(0, 0, 0, 0.25);
}

/* -------- General styling -------- */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

footer,
header {
  background-color: black;
  position: sticky;
  top: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5em;
}

footer > h4 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1em;
}

.hidden {
  display: none;
}

/* Admin login section styles */
.admin-login {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 20px 0;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  background: linear-gradient(to right, #0066ff, #33ccff);
  transition: background 0.5s ease, transform 0.5s ease;
}

/* Button hover state */
.button:hover {
  background: linear-gradient(to right, #33ccff, #0066ff);
  transform: scale(1.1);
}

/*Login-form styling*/
.login-body {
  background: linear-gradient(
    to right,
    #0066ff,
    #33ccff
  ); /* Gradient background */
  display: flex;
  align-items: flex-start; /* Aligns items to the start of the container */
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding-top: 10rem; /* Adjust this value as needed */
}

/* Remove the navbar on the login page */
.login-page .navbar {
  display: none;
}

/* Login container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Increase the size of the logo */
.logo {
  width: 350px; /* Adjust as needed */
  margin-bottom: 20px;
}

/* Login title */
.login-title {
  font-size: 1.5rem;
  color: #0066ff; /* Adjust color as needed */
  margin-bottom: 2rem;
}

/* Style form inputs */
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the button */
.login-form .button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  background: linear-gradient(to right, #0066ff, #33ccff);
  transition: background 0.5s ease, transform 0.5s ease;
  margin-top: 20px;
  width: 100%;
}

/* Button hover state */
.login-form .button:hover {
  background: linear-gradient(to right, #33ccff, #0066ff);
  transform: scale(1.1);
}
