.navbar-payments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  /* top: 1em; */
  /* left: 0; */
  width: 100%;
  padding: 0.4em;
  background: #051e34;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  box-sizing: border-box;
}

#overview-container {
  margin: auto;
  /* text-align: center; */
}

#overview-table {
  margin: auto;
}

#overview-table > tbody > tr > td {
  cursor: auto;
}

#payments-table {
  margin-bottom: 2em;
}

.payment-text {
  background-color: #051e34;
  color: white;
  margin: 1em;
  border-radius: 1em;
}

.search-payments-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin: 1em;
}

#search-box-payments-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: left;
}
