#results-filter-container {
  background-color: #051e34;
  padding: 2em;
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-items: center;
}

#results-filter-container {
  font-size: 16px;
}

select {
  border-radius: 1em;
  padding: 0.3em;
}

#results-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 1em;
}

#results-container > div > h3 {
  text-align: center;
}

.result-grid-item {
  /* background-color: #0066ff; */
  padding: 1em;
  border-radius: 1em;
}

.result-grid-item > h3 {
  color: #051e34;
}

#butterfly-table,
#crawl-table,
#rygcrawl-table,
#bryst-table {
  margin: auto;
}

#add-result-form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 1em;
}

#add-result-dialog {
  width: 400px;
}

#add-result-form-container {
  margin-bottom: 1em;
}

#submit-result-container {
  text-align: center;
}

input:read-only {
  background-color: rgb(223, 223, 223);
}
.col4-result,
.col5-result,
.col6-result {
  display: none;
}

.competition-result,
#time-result,
#date-result {
  border-radius: 1em;
  padding: 0.3em;
}

@media screen and (min-width: 500px) {
  .col5-result {
    display: table-cell;
  }
}
@media screen and (min-width: 600px) {
  #results {
    margin: 0 1em 1em;
  }
  .col4-result {
    display: table-cell;
  }
}
@media screen and (min-width: 700px) {
  .col6-result {
    display: table-cell;
  }
}
@media screen and (min-width: 1350px) {
  #results-container {
    grid-template-columns: 1fr 1fr;
  }
}

#add-result-form > label {
  margin: 0.4em;
}
